


NET "TXD[3]" IOSTANDARD = LVCMOS33;
NET "TXD[2]" IOSTANDARD = LVCMOS33;
NET "TXD[1]" IOSTANDARD = LVCMOS33;
NET "TXD[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "TXCLK" IOSTANDARD = LVCMOS33;
NET "TXEN" IOSTANDARD = LVCMOS33;
NET "TXER" IOSTANDARD = LVCMOS33;
NET "pmod" IOSTANDARD = LVCMOS33;



NET "clk" LOC = V10;
NET "pmod" LOC = T12;
NET "TXCLK" LOC = L5;
NET "TXEN" LOC = L2;
NET "TXER" LOC = P2;
NET "TXD[3]" LOC = T1;
NET "TXD[2]" LOC = T2;
NET "TXD[1]" LOC = U1;
NET "TXD[0]" LOC = U2;


NET "RXD[3]" IOSTANDARD = LVCMOS33;
NET "RXD[2]" IOSTANDARD = LVCMOS33;
NET "RXD[1]" IOSTANDARD = LVCMOS33;
NET "RXD[0]" IOSTANDARD = LVCMOS33;
NET "COL" IOSTANDARD = LVCMOS33;
NET "CRS" IOSTANDARD = LVCMOS33;
NET "MDC" IOSTANDARD = LVCMOS33;
NET "MDIO" IOSTANDARD = LVCMOS33;
NET "RESET" IOSTANDARD = LVCMOS33;
NET "RXCLK" IOSTANDARD = LVCMOS33;
NET "RXDV" IOSTANDARD = LVCMOS33;
NET "RXER" IOSTANDARD = LVCMOS33;


NET "RXD[0]" LOC = P1;
NET "RXD[1]" LOC = N2;
NET "RXD[2]" LOC = N1;
NET "RXD[3]" LOC = M3;
NET "COL" LOC = P4;
NET "CRS" LOC = N3;
NET "MDC" LOC = M5;
NET "MDIO" LOC = L6;
NET "RESET" LOC = P3;
NET "RXCLK" LOC = H4;
NET "RXDV" LOC = L1;
NET "RXER" LOC = M1;

# PlanAhead Generated IO constraints 

NET "led[7]" IOSTANDARD = LVCMOS33;
NET "led[6]" IOSTANDARD = LVCMOS33;
NET "led[5]" IOSTANDARD = LVCMOS33;
NET "led[4]" IOSTANDARD = LVCMOS33;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "led[0]" LOC = U16;
NET "led[1]" LOC = V16;
NET "led[2]" LOC = U15;
NET "led[3]" LOC = V15;
NET "led[4]" LOC = M11;
NET "led[5]" LOC = N11;
NET "led[6]" LOC = R11;
NET "led[7]" LOC = T11;
